DB_HOST=localhost
DB_PORT=5432
DB_NAME=fiapx_notifications
DB_USER=fiapx
DB_PASSWORD=change-me
RABBIT_HOST=localhost
RABBIT_USER=fiapx
RABBIT_PASSWORD=change-me
SMTP_HOST=localhost
SMTP_PORT=1025
MAIL_FROM=fiapx@localhost
